<div class="content">
    <ui-section header="输入" expand>
        <ui-prop class="content-item">
            <ui-label slot="label">类型</ui-label>
            <ui-select id="type" slot="content" :value="typeSelectIndex"
                @confirm="onChangeTypeSelect($event.target.value)">
                <option :value="index" v-for="(name,index) in typeSelects">
                    {{name}}
                </option>
            </ui-select>
        </ui-prop>

        <ui-button class="content-item" type="primary" @confirm="onClickCreate">
            创建
        </ui-button>
    </ui-section>

    <ui-section header="输出" expand>
        <ui-label :value="display" style="white-space: pre"></ui-label>
    </ui-section>

    <div class="loading" v-show="showLoading">
        <ui-loading class="loading-item"></ui-loading>
    </div>
</div>