<div class="menu">
    <!-- <ui-button @confirm="onClick(0)" :disabled="index == 0">View</ui-button>
    <ui-button @confirm="onClick(1)" :disabled="index == 1">Manager</ui-button>
    <ui-button @confirm="onClick(2)" :disabled="index == 2">Model</ui-button>
    <ui-button @confirm="onClick(3)" :disabled="index == 3">Control</ui-button>
    <ui-button @confirm="onClick(4)" :disabled="index == 4">ECS</ui-button> -->
    <ui-tab class="menu" value="0">
        <ui-button @confirm="onClick(0)">View</ui-button>
        <ui-button @confirm="onClick(1)">Manager</ui-button>
        <ui-button @confirm="onClick(2)">Model</ui-button>
        <ui-button @confirm="onClick(3)">Control</ui-button>
        <!-- <ui-button @confirm="onClick(4)">ECS</ui-button> -->
    </ui-tab>
</div>